@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.health-wellness,
.healthcare-insurance,
.workplace-nizcare,
.condition-management,
.personalised-app-dashboard,
.wellness-revolution,
.satisfied-leading,
.mark-class {
    padding: 0px 0px 60px 0px;
}

.section-title {
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 600;
}

.hero {
    width: 100%;
    position: relative;
    padding: 190px 0 100px 0;
}

.hero .hero-bg {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 3;
}

.hero h2 {
    margin-bottom: 80px;
    padding: 0;
    font-size: 65px;
    font-weight: 800;
    color: #fff;
}

.hero p {
    margin-bottom: 30px;
    padding: 0;
    font-size: 18px !important;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 575px) {
    .hero h2 {
        font-size: 40px;
    }
    .section-title h2 {
        font-size: 34px;
    }
}

.hero p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

.employe-card {
    padding: 0 15px;
}

.employe-card h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.employe-benefits {
    display: flex;
    align-items: center;
    background-color: #1da69a;
}

.employe-benefits-ul li {
    color: #fff;
}

@media (max-width: 500px) {

    .employe-benefits img {
        display: none;
    }

}

.health-wellness-p {
    font-size: 20px;
}

.healthcare-insurance h3 {
    font-weight: 600;
}

.help-card {
    position: relative;
    background: #F9F7F1;
    padding: 45px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 100%;
}

.help-card div {
    position: absolute;
    top: -30px;
    left: 5px;
}

.help-card small {
    font-size: 26px;
    font-weight: 600;
    color: #023940;
}

.carousel-bg {
    background-color: #1da69a;
    padding: 20px 0;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
}

.custom-carousel {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.custom-carousel-item {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.custom-carousel-item img {
    max-width: 100%;
    height: auto;
}

.custom-carousel-indicators {
    position: absolute;
    bottom: -18px;
}

.custom-carousel-control {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}

.custom-carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-carousel-control-prev {
    left: -50px;
}

.custom-carousel-control-next {
    right: -50px;
}

.custom-carousel-control-icon {
    filter: invert(1);
}

.swiper {
    width: 80%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    width: 250px;
    border-radius: 10px;
}

.customized-app-list li {
    font-size: 28px;
    margin: 20px 0;
}

.active {
    position: relative;
    color: #2ea3b3;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #2ea3b3, #000);
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.active:hover::after,
.active::after {
    width: 100%;
    left: 0;
}

.toggle-btn:hover {
    color: #2ea3b3;
    text-shadow: 0 0 10px rgba(154, 231, 242, 0.7);
    transition: text-shadow 0.3s ease-in-out;
}

.hr {
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, #2ea3b3, transparent);
    margin: 20px auto 0 auto;
    border-radius: 5px;
}

.d-none {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.d-block {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.title-dash-app h2 {
    cursor: pointer;
}

@media (max-width: 768px) {
    .title-dash-app h2 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .title-dash-app h2 {
        font-size: 1rem;
    }

    .customized-app-list li {
        font-size: 20px;
        margin: 20px 0;
    }
}

.form-container {
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
}

.help-card-last {
    position: relative;
    background: #F9F7F1;
    padding: 45px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 100%;
}

.help-card-last div {
    position: absolute;
    top: -30px;
    left: 5px;
}

.help-card-last small {
    font-size: 20px;
    font-weight: 600;
    color: #023940;
}

.mark-class {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #fff;
}

.marquee-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.marquee-container {
    display: flex;
    gap: 0px;
    /* No gaps between images */
    width: 500%;
    /* Ensures smooth looping */
    animation: marqueeLTR 38s linear infinite;
}

.marquee-container.reverse {
    animation: marqueeRTL 33s linear infinite;
}

.marquee-container img {
    width: 100%;
    /* Each image takes 25% of the parent container */
    max-width: 100%;
    height: auto;
}

/* Left to Right Animation */
@keyframes marqueeLTR {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Right to Left Animation */
@keyframes marqueeRTL {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .marquee-container {
        width: 600%;
        animation-duration: 35s;
    }

    .marquee-container img {
        width: 100%;
    }
}

@media (max-width: 499px) {
    .marquee-container {
        animation-duration: 35s;
    }

    .marquee-container img {
        width: 100%;
    }
}

.ip-slide img {
    width: 120px;
    /* Adjust the width */
    height: auto;
    /* Maintain aspect ratio */
    max-height: 80px;
    /* Limit max height */
    object-fit: contain;
    /* Ensure proper scaling */
}

.footer {
    padding: 60px 0 0 0;
}

.mini-footer {
    background: #30686d !important;
    font-size: 12px;
    padding: 0.1% 0;
    text-align: center;
    color: #afa7a7;
}

.main-footer-title {
    color: #afa7a7;
    font-size: 22px;
    margin-bottom: 8%;
}

.address-style {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.get-link-p {
    color: white;
    font-size: 14px;
}

.header {
    color: #000;
    background-color: #ffffff;
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 36px;
    margin-right: 8px;
}


.header .btn-getstarted,
.header .btn-getstarted:focus {
    text-decoration: none;
    color: #fff;
    background: #239FA7;
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
    color: #fff;
    background: color-mix(in srgb, #239FA7, transparent 10%);
}

@media (max-width: 1200px) {
    .header .logo {
        order: 1;
    }

    .header .btn-getstarted {
        order: 2;
        margin: 0 15px 0 0;
        padding: 6px 15px;
    }

    .header .navmenu {
        order: 3;
    }
}

.scrolled .header {
    padding: 10px 0;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

.scrolled .header {
    --background-color: #ffffff;
}


/* Navmenu - Desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: #000;
        padding: 18px 15px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        text-decoration: none;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        color: #239FA7;
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: #000;
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        margin-top: 4px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: #ffffff;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: #000;
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
        text-decoration: none;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: var(--accent-color);
        color: var(--contrast-color);
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--nav-dropdown-hover-color);
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }
}